<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div *ngFor="let alert of alertsDismiss">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" [dismissible]="dismissible">{{ alert.msg }}</alert>
          </div>
          <div class="card mx-4">
            <div class="card-body p-4">
              <form role="form" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
                <h3>Reset Password!!</h3>
                <input type="hidden" class="form-control"  formControlName="resetToken" required>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="New Password" formControlName="password" required>
                  <div class="col-12 text-danger" *ngIf="formErrors.password">
                    <span class="help-block">{{formErrors.password}}</span>
                  </div>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" required>
                  <div class="col-12 text-danger" *ngIf="formErrors.confirmPassword">
                    <span class="help-block">{{formErrors.confirmPassword}}</span>
                  </div>
                </div>

                <button type="submit" class="btn btn-block btn-success">Change</button>
              </form>
            </div>
            <!--<div class="card-footer p-4">-->
            <!--<div class="row">-->
            <!--<div class="col-6">-->
            <!--<button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>-->
            <!--</div>-->
            <!--<div class="col-6">-->
            <!--<button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
