.text-align-right{
  text-align: right;
}
.chart-align{
  justify-content: center;
}

.brand-card-header-ct{
  height: 5em !important;
}

.msg-text-center{
  width: 100%;
  text-align: center;
}
.bg-header-liquid{
  background-color: #14A2D7 !important;
}
.bg-header-liquid-sludge{
  background-color: #C5681B !important;
}

.bg-header-biogas{
  background-color: #95CE58 !important;
}

.bg-header-dewatering{
  background-color: #A3BED7 !important;
}

.bg-header-biosolids{
  background-color: #AAAAAA !important;
}

.bg-header-selected{
  background-color: #F1CDAD !important;
  border-radius: 0px;
}

.bg-header-sub-selected{
  background-color: #ADBE79 !important;
  border-radius: 0px;
}
.sub-title-padding{
  padding-left: 33px;
}
.sub-sub-title-padding{
  padding-left: 66px;
}
.readonlyValue{
  background-color: orange !important;
}
