.text-align-right{
  text-align: right;
}
.chart-align{
  justify-content: center;
}

.brand-card-header-ct{
  height: 5em !important;
}

.msg-text-center{
  width: 100%;
  text-align: center;
}
.bg-header-liquid{
  background-color: #14A2D7 !important;
}
.bg-header-liquid-sludge{
  background-color: #C5681B !important;
}
.bg-header-chemical{
  background-color: #C81AAA !important;
}
.bg-header-biogas{
  background-color: #95CE58 !important;
}

.bg-header-dewatering{
  background-color: #A3BED7 !important;
}

.bg-header-biosolids{
  background-color: #AAAAAA !important;
}

.bg-header-selected{
  background-color: #F1CDAD !important;
  border-radius: 0px;
}

.bg-header-sub-selected{
  background-color: #ADBE79 !important;
  border-radius: 0px;
}
.sub-title-padding{
  padding-left: 33px;
}
.sub-sub-title-padding{
  padding-left: 66px;
}
.readonlyValue{
  background-color: #FFEFD5 !important;
  cursor: not-allowed;
}
.tooltip-width {
  width: 25px !important;
  display: inherit !important;
}

.button-placement {
  margin-top: 29%;
  margin-right: 40%;
}
thead{
  background-color: #428BCA !important;
  border: #428BCA solid 1px !important;
}

.cd-header-color {
  background-color: #2b4de7e6!important;
}
::ng-deep.custom-class > .card-header {
  background-color: #1730d154;
}
::ng-deep.custom-class > .card-header > .panel-title > .accordion-toggle > .btn-link:hover{
  color: black!important;
}
::ng-deep.custom-class > .card-header > .panel-title > .accordion-toggle > .btn-link{
  color: black!important;
}
.custom-font-color {
  color: #428BCA!important;
}
.custom-inner-text-color {
  color: #f8cb00!important;
}

