.text-align-right{
  text-align: right;
}
.chart-align{
  justify-content: center;
}

.brand-card-header-ct{
  height: 5em !important;
}

.msg-text-center{
  width: 100%;
  text-align: center;
}
.bg-header-liquid{
  background-color: #14A2D7 !important;
}
.bg-header-liquid-sludge{
  background-color: #C5681B !important;
}
.bg-header-chemical{
  background-color: #C81AAA !important;
}
.bg-header-biogas{
  background-color: #95CE58 !important;
}

.bg-header-dewatering{
  background-color: #A3BED7 !important;
}

.bg-header-biosolids{
  background-color: #AAAAAA !important;
}

.bg-header-selected{
  background-color: #F1CDAD !important;
  border-radius: 0px;
}

.bg-header-sub-selected{
  background-color: #ADBE79 !important;
  border-radius: 0px;
}
.sub-title-padding{
  padding-left: 33px;
}
.sub-sub-title-padding{
  padding-left: 66px;
}
.readonlyValue{
  background-color: #FFEFD5 !important;
  cursor: not-allowed;
}
.tooltip-width {
  width: 25px !important;
  display: inherit !important;
}

.button-placement {
  margin-top: 29%;
  margin-right: 40%;
}

::ng-deep.tab-content{
  border: 1px solid #337ab7;
}

::ng-deep.navTabBackground > ul {
  background: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  line-height: 2;
}

::ng-deep.nav-link > span {
  color: #fff !important;
  font-weight: 700;
}
::ng-deep.nav-link.active > span {
  color: black !important;
  font-weight: 700;
}

.details-border{
  border: 1px solid #4dbd74 !important;
}
.details-border > .card-header{
  color: #3c763d !important;
  background-color: #dff0d8 !important;
  border-color: #d6e9c6 !important;
  font-weight: 700 !important;
}

//Liquid line

.liquid-border {
  border: 1px solid #4E76F9 !important;
}
.liquid-main-heading{
  background-color: #4E76F9!important;
  color:white !important;
  font-weight: 700 !important;
}
::ng-deep.liquid-custom-class{
  border: 1px solid #B1C3F9 !important;
}
::ng-deep.liquid-custom-class > .card-header {
  background-color: #B1C3F9 !important;
}
::ng-deep.liquid-custom-class > .card-header > .panel-title > .accordion-toggle > .btn-link:hover{
  color: black!important;
  text-decoration: none !important;
  font-weight: 500 !important;
}
::ng-deep.liquid-custom-class > .card-header> .panel-title > .accordion-toggle > .btn-link{
  color: black!important;
  font-weight: 500 !important;
}
.liquid-font-color {
  color: #4E76F9 !important;
}

//Liquid Sludge

.liquid-slude-border {
  border: 1px solid #C5671C !important;
}
.liquid-slude-main-heading{
  background-color: #C5671C !important;
  color:white !important;
  font-weight: 700 !important;
}
::ng-deep.liquid-slude-custom-heading {
  border: 1px solid #edac7b !important;
}
::ng-deep.liquid-slude-custom-heading > .card-header {
  background-color: #edac7b !important;
}
::ng-deep.liquid-slude-custom-heading > .card-header > .panel-title > .accordion-toggle > .btn-link:hover{
  color: black!important;
  text-decoration: none !important;
  font-weight: 500 !important;
}
::ng-deep.liquid-slude-custom-heading > .card-header> .panel-title > .accordion-toggle > .btn-link{
  color: black!important;
  font-weight: 500 !important;
}
.liquid-sludge-font-color {
  color: #C5671C !important;
}

//Biogas

.biogas-border {
  border: 1px solid #94CE58 !important;
}
.biogas-main-heading{
  background-color: #94CE58 !important;
  color:black !important;
  font-weight: 700 !important;
}
::ng-deep.biogas-custom-heading {
  border: 1px solid #b5f76f !important;
}
::ng-deep.biogas-custom-heading > .card-header {
  background-color: #b5f76f !important;
}
::ng-deep.biogas-custom-heading > .card-header > .panel-title > .accordion-toggle > .btn-link:hover{
  color: black!important;
  text-decoration: none !important;
  font-weight: 500 !important;
}
::ng-deep.biogas-custom-heading > .card-header> .panel-title > .accordion-toggle > .btn-link{
  color: black!important;
  font-weight: 500 !important;
}
.biogas-font-color {
  color: #94CE58 !important;
}

// Dewatering

.dewatering-border {
  border: 1px solid #A3BDD6 !important;
}
.dewatering-main-heading{
  background-color: #A3BDD6 !important;
  color:black !important;
  font-weight: 700 !important;
}
::ng-deep.dewatering-custom-heading {
  border: 1px solid #c4dcf2 !important;
}
::ng-deep.dewatering-custom-heading > .card-header {
  background-color: #c4dcf2 !important;
}
::ng-deep.dewatering-custom-heading > .card-header > .panel-title > .accordion-toggle > .btn-link:hover{
  color: black!important;
  text-decoration: none !important;
  font-weight: 500 !important;
}
::ng-deep.dewatering-custom-heading > .card-header> .panel-title > .accordion-toggle > .btn-link{
  color: black!important;
  font-weight: 500 !important;
}
.dewatering-font-color {
  color: #A3BDD6 !important;
}

//Disposal

.disposal-border {
  border: 1px solid #AAAAAA !important;
}
.disposal-main-heading{
  background-color: #AAAAAA !important;
  color:black !important;
  font-weight: 700 !important;
}
::ng-deep.disposal-custom-heading{
  border: 1px solid #d3d1d1 !important;
}
::ng-deep.disposal-custom-heading > .card-header {
  background-color: #d3d1d1 !important;
}
::ng-deep.disposal-custom-heading > .card-header > .panel-title > .accordion-toggle > .btn-link:hover{
  color: black!important;
  text-decoration: none !important;
  font-weight: 500 !important;
}
::ng-deep.disposal-custom-heading > .card-header> .panel-title > .accordion-toggle > .btn-link{
  color: black!important;
  font-weight: 500 !important;
}
.disposal-font-color {
  color: #AAAAAA !important;
}

//Chemical Style

.chemical-border {
  border: 1px solid #c819aa !important;
}
.chemical-main-heading{
  background-color: #c819aa !important;
  color:black !important;
  font-weight: 700 !important;
}
::ng-deep.chemical-custom-heading{
  border: 1px solid #f48de1 !important;
}
::ng-deep.chemical-custom-heading > .card-header {
  background-color: #f48de1 !important;
}
::ng-deep.chemical-custom-heading > .card-header > .panel-title > .accordion-toggle > .btn-link:hover{
  color: black!important;
  text-decoration: none !important;
  font-weight: 500 !important;
}
::ng-deep.chemical-custom-heading > .card-header> .panel-title > .accordion-toggle > .btn-link{
  color: black!important;
  font-weight: 500 !important;
}
.chemical-font-color {
  color: #c819aa !important;
}


.summary-border{
  border: 1px solid #20a8d8 !important;
}

.summary-border > .card-header {
  font-weight: 700 !important
}

.table-border{
  border: 1px solid #4dbd74 !important;
}
.table-border > .card-header{
  color: #3c763d !important;
  background-color: #dff0d8 !important;
  border-color: #d6e9c6 !important;
}
.table-border > .card-body> table{
  border: 1px solid #428BCA !important;
}

.table-border > .card-body > table > thead{
  background-color: #428BCA !important;
  border: 1px solid #428BCA !important;
  color:white !important;
}

.activeSludgeImage{
  text-align: center;
  display: block;
}
.activeSludgeImage > img{
  width: 60%;
  overflow: hidden;
}
.aerobicImg{
  text-align: center;
  display: block;
}
.aerobicImg > img{
  width: 55%;
  overflow: hidden;
}

.anaerobicImg{
  text-align: center;
  display: block;
}
.anaerobicImg > img{
  width: 55%;
  overflow: hidden;
}

.transportation{
  text-align: center;
  display: block;
}
.transportation > img{
  width: 40%;
  overflow: hidden;
}

.disposal{
  text-align: center;
  display: block;
}
.disposal > img{
  width: 40%;
  overflow: hidden;
}
.bg-img{
  background-image: url("/assets/img/avatars/Liquid_Line.png");
}
.custom-text-image {
margin-bottom: 4%;
  margin-top: -5%;
  margin-left: -13%;
  text-align: center;
  font-weight: 900;
  font-size: 16px;
}
.biosolid-text-image {
  margin-top: -6% !important;
  margin-left: -16% !important;
}
.brand-card{
  text-align: center !important;
}
