.badge-new{
  font-size: 100% !important;
  cursor: pointer;
}
.msg-text-center{
  width: 100%;
  text-align: center;
}
.text-align-right{
  text-align: right;
}
.view-components {
  margin: 10px;
  padding: 2px;
  display: inline-block;
}
.view-table {
  width: 615px;
}
.view-class {
  overflow: auto;
  display: -webkit-box;
}
