<div class="card details-border">
  <div class="card-header">
    Overview
  </div>
  <div class="card-body collapse in show" ng-reflect-collapse="false" aria-expanded="true" aria-hidden="false" style="overflow: visible; height: auto; display: block;">
    <div class="">
      <p><strong>SOWC – Wastewater Treatment Plant Greenhouse Gas Emissions Calculator</strong></p>
    </div>
    <div>
      <p>General Information:</p>
    </div>
    <div class="">
    <p>
      SOWC Wastewater Treatment Plant GHG Emissions Calculator can be used to calculate the greenhouse gas emissions from wastewater treatment plants.  This calculator is designed to be intuitive.  Input sections are categorized into three parts, viz., Electrical Emission, Chemicals, and Process Emission.
    </p>
    </div>
    <div class="">
      <p>
        Electrical Emissions Section is subdivided into different lines, viz., Liquid Line (for the wastewater stream), Liquid Sludge Line (for the sludge streams), Biogas Line, Solids Dewatering Line, and Biosolids Disposal Line.  Chemicals Section is utilized to input the quantity of chemicals utilized in the treatment plant.  Process Emission Section is utilized to input specific process values [e.g. effluent parameters, sludge production, external sludge and organics information, methane concentration, etc.].  Final summary is presented in the form of Flow Diagrams for different Lines, Summary Tables and Graphs.
      </p>
    </div>

    <div class="">
      <p>
        Users can define a Project and create different Scenarios within a project.  Under a given Scenario, users can utilize either the suggested ranges of values [taken from reliable sources that are referenced via hyperlinks and documents/reports that could be downloadable] for a given unit operation or use their actual experienced values from their wastewater treatment plant.  Users can also create additional scenarios by duplicating an existing scenario and modifying a few parameters for selected unit operations as required and saving as a new scenario.  Users can view an existing scenario in view only mode and also can compare up to four different scenarios under a given Project.  All the Projects created by the users are summarized on a Dashboard.  From the Dashboard, the users can select a Project and navigate to any of the Scenarios under that Project.
      </p>
    </div>

    <div class="">
      <p class="last-line">
        Users MUST “Save Scenario” on the Summary Page to save their Scenario.
      </p>
    </div>

  </div>
</div>
