.badge-new{
  font-size: 100% !important;
  cursor: pointer;
}

.msg-text-center{
  width: 100%;
  text-align: center;
}

.details-border{
  border: 1px solid #4dbd74 !important;
}
.details-border > .card-header{
  color: #3c763d !important;
  background-color: #dff0d8 !important;
  border-color: #d6e9c6 !important;
  font-weight: 700 !important;
}
.projectTitle{
    font-size: 30px;
    margin: 0px;
    line-height: 1;
}
