// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
.navTabBackground>ul{
  background: #f0f3f5;
  border:1px solid #f0f3f5;
}
.navTabBackground> .nav-tabs .nav-link {
  color: black !important;
}
