<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/logo.jpg',width: 161, height: 70, alt: 'SOWC-GHG'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false">
  <ul class="nav navbar-nav d-md-down-none">
    <!--<li class="nav-item px-3">-->
      <!--<a class="nav-link" href="#">Dashboard</a>-->
    <!--</li>-->
    <!--<li class="nav-item px-3">-->
      <!--<a class="nav-link" href="#">Users</a>-->
    <!--</li>-->
    <!--<li class="nav-item px-3">-->
      <!--<a class="nav-link" href="#">Settings</a>-->
    <!--</li>-->
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <!--<li class="nav-item d-md-down-none">-->
      <!--<a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>-->
    <!--</li>-->
    <!--<li class="nav-item d-md-down-none">-->
      <!--<a class="nav-link" href="#"><i class="icon-list"></i></a>-->
    <!--</li>-->
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#/dashboard">{{loginUser}}</a>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/512.png" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <!--<a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>-->
        <!--<a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>-->
        <!--<a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>-->
        <!--<a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>-->
        <!--<div class="dropdown-header text-center"><strong>Settings</strong></div>-->
        <a class="dropdown-item" href="#/dashboard"><i class="fa fa-user"></i> Profile</a>
        <!--<a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>-->
        <!--<a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-dark">42</span></a>-->
        <!--<a class="dropdown-item" href="#/dashboard"><i class="fa fa-file"></i>Projects</a>-->
        <!--<span class="badge badge-primary">42</span-->
        <div class="divider"></div>
        <!--<a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>-->
        <a class="dropdown-item" href="javasript:void(0)" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <!--<button type="button"  ><i class="icon-speech"></i></button>-->
          <a class="btn" href="javascript:void(0)" (click)="overviewModal.show()"><i class="icon-speech"></i> &nbsp;Overview</a>
          <!--<a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
          <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
        </div>
      </li>
    </ol>
    <div class="container-fluid">
      <div bsModal  #overviewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-success modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Overview</h4>
              <button type="button" class="close" (click)="overviewModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="">
                <p><strong>OWC – Wastewater Treatment Plant Greenhouse Gas Emissions Calculator</strong></p>
              </div>
              <div>
                <p class="overviewTitle">Background</p>
              </div>
              <div class="">
                <p>
                  The Ontario Water Consortium (OWC) believes innovation is necessary to solve our local and global water
                  challenges. These innovations become marketable solutions when private sector and academic knowledge
                  combine in real-world environments to overcome technology commercialization challenges.
                </p>
              </div>
              <div class="">
                <p>
                  The purpose of OWC’s GHG calculator is to provide technology developers, consultants, or wastewater
                  treatment practitioners a tool to help evaluate and compare the impact to greenhouse gas emissions in a
                  wastewater treatment plant when new technologies or process modifications are under consideration. This
                  information may be valuable to justify the adoption of a new technology or process, or to support
                  applications for funding programs.
                </p>
              </div>
              <div class="">
                <p>
                  Links and/or downloads to all references are provided. Note that this is a calculation tool, not a model and
                  the sole output is an estimated calculated value for total CO2 (equivalent) when all input fields are complete.
                </p>
              </div>
              <div>
                <p class="overviewTitle">User Information</p>
              </div>
              <div class="">
                <p>
                  The design of this calculator is intuitive, user friendly, and flexible. After registering a username and
                  password, users must first define a new “Project”. From the dashboard, the user can create a new project or
                  see a summary of all previously created projects by that user. The user can create and compare up to four
                  scenarios under a project. It is not possible to compare scenarios from different projects. It may be desirable
                  that the first scenario under a project is always a “baseline” of the wastewater treatment plant under
                  evaluation. Users can enter any value in the various input fields but should choose to either utilize the
                  suggested values (sources, links, and downloadable documents are all provided where applicable) or input
                  actual values from the wastewater treatment plant. Scenarios within a project can also be duplicated (and
                  re-saved as a new scenario) in order to adjust parameters without starting from the beginning. However,
                  existing scenarios cannot be edited once saved (available as view only).
                </p>
              </div>
              <div class="">
                <p>
                  Users will input data in three separate categories: electrical emissions, chemical emissions, and process
                  emissions. Under the electrical emissions category, users will select the desired unit operations and
                  processes to represent the wastewater treatment plant under evaluation. The user will either choose from
                  the given technology options or create a custom entry for each of the liquid wastewater stream, sludge
                  stream, biogas stream, and biosolids dewatering and disposal stream. The user will also input the power
                  consumption on a flow basis for each unit operation selected. In the chemicals section, user inputs include
                  the quantity of chemicals utilized at various spots and for different applications in the treatment plant. In the
                  process emission section, user inputs include specific process values (effluent parameters, sludge
                  production, external sludge and organics information, methane concentration, etc.) for use in the calculation.
                  An illustration of the results for each individual scenario is in the form of multiple flow diagrams, summary
                  tables, and summary graphs.
                </p>
              </div>
              <div class="">
                <p >
                  <span class="last-line"> Remember to save your scenario</span>, by clicking the ‘Save Scenario’ button located at the bottom of the
                  Summary page; otherwise, your calculator entries will be lost.
                </p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" (click)="overviewModal.hide()">Close</button>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

</div>
<app-footer>
  <span>Wastewater Treatment Plant Greenhouse Gas Emissions Calculator {{ year | date : 'yyyy' }}</span>
  <span class="ml-auto">Powered by EasyLogbook</span>
</app-footer>
