<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/logo.jpg',width: 161, height: 70, alt: 'SOWC-GHG'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false">
  <ul class="nav navbar-nav d-md-down-none">
    <!--<li class="nav-item px-3">-->
      <!--<a class="nav-link" href="#">Dashboard</a>-->
    <!--</li>-->
    <!--<li class="nav-item px-3">-->
      <!--<a class="nav-link" href="#">Users</a>-->
    <!--</li>-->
    <!--<li class="nav-item px-3">-->
      <!--<a class="nav-link" href="#">Settings</a>-->
    <!--</li>-->
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <!--<li class="nav-item d-md-down-none">-->
      <!--<a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>-->
    <!--</li>-->
    <!--<li class="nav-item d-md-down-none">-->
      <!--<a class="nav-link" href="#"><i class="icon-list"></i></a>-->
    <!--</li>-->
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#/dashboard">{{loginUser}}</a>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/512.png" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <!--<a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>-->
        <!--<a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>-->
        <!--<a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>-->
        <!--<a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>-->
        <!--<div class="dropdown-header text-center"><strong>Settings</strong></div>-->
        <a class="dropdown-item"  [routerLink]="['/profile/show']" href="#"><i class="fa fa-user"></i> Profile</a>
        <!--<a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>-->
        <!--<a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-dark">42</span></a>-->
        <!--<a class="dropdown-item" href="#/dashboard"><i class="fa fa-file"></i>Projects</a>-->
        <!--<span class="badge badge-primary">42</span-->
        <div class="divider"></div>
        <!--<a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>-->
        <a class="dropdown-item" href="javasript:void(0)" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <!--<button type="button"  ><i class="icon-speech"></i></button>-->
          <a style="color: blue;" class="btn" href="javascript:void(0)" (click)="overviewModal.show()"><i class="icon-speech"></i> &nbsp;Overview</a>
          <a style="color: blue;" class="btn" href="javascript:void(0)" (click)="BasisModal.show()"><i class="icon-speech"></i> &nbsp;Calculator-Basis</a>
          <!--<a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
          <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
        </div>
      </li>
    </ol>
    <div class="container-fluid">
      <div bsModal  #overviewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-success modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Overview</h4>
              <button type="button" class="close" (click)="overviewModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="">
                <p><strong>OWC – Wastewater Treatment Plant Greenhouse Gas Emissions Calculator</strong></p>
              </div>
              <div>
                <p class="overviewTitle">Background</p>
              </div>
              <div class="">
                <p>
                  The Ontario Water Consortium (OWC) believes innovation is necessary to solve our local and global water
                  challenges. These innovations become marketable solutions when private sector and academic knowledge
                  combine in real-world environments to overcome technology commercialization challenges.
                </p>
              </div>
              <div class="">
                <p>
                  The purpose of OWC’s GHG calculator is to provide technology developers, consultants, or wastewater
                  treatment practitioners a tool to help evaluate and compare the impact to greenhouse gas emissions in a
                  wastewater treatment plant when new technologies or process modifications are under consideration. This
                  information may be valuable to justify the adoption of a new technology or process, or to support
                  applications for funding programs.
                </p>
              </div>
              <div class="">
                <p>
                  Links and/or downloads to all references are provided. Note that this is a calculation tool, not a model and
                  the sole output is an estimated calculated value for total CO2 (equivalent) when all input fields are complete.
                </p>
              </div>
              <div>
                <p class="overviewTitle">User Information</p>
              </div>
              <div class="">
                <p>
                  The design of this calculator is intuitive, user friendly, and flexible. After registering a username and
                  password, users must first define a new “Project”. From the dashboard, the user can create a new project or
                  see a summary of all previously created projects by that user. The user can create and compare up to four
                  scenarios under a project. It is not possible to compare scenarios from different projects. It may be desirable
                  that the first scenario under a project is always a “baseline” of the wastewater treatment plant under
                  evaluation. Users can enter any value in the various input fields but should choose to either utilize the
                  suggested values (sources, links, and downloadable documents are all provided where applicable) or input
                  actual values from the wastewater treatment plant. Scenarios within a project can also be duplicated (and
                  re-saved as a new scenario) in order to adjust parameters without starting from the beginning. However,
                  existing scenarios cannot be edited once saved (available as view only).
                </p>
              </div>
              <div class="">
                <p>
                  Users will input data in three separate categories: electrical emissions, chemical emissions, and process
                  emissions. Under the electrical emissions category, users will select the desired unit operations and
                  processes to represent the wastewater treatment plant under evaluation. The user will either choose from
                  the given technology options or create a custom entry for each of the liquid wastewater stream, sludge
                  stream, biogas stream, and biosolids dewatering and disposal stream. The user will also input the power
                  consumption on a flow basis for each unit operation selected. In the chemicals section, user inputs include
                  the quantity of chemicals utilized at various spots and for different applications in the treatment plant. In the
                  process emission section, user inputs include specific process values (effluent parameters, sludge
                  production, external sludge and organics information, methane concentration, etc.) for use in the calculation.
                  An illustration of the results for each individual scenario is in the form of multiple flow diagrams, summary
                  tables, and summary graphs.
                </p>
              </div>
              <div class="">
                <p >
                  <span class="last-line"> Remember to save your scenario</span>, by clicking the ‘Save Scenario’ button located at the bottom of the
                  Summary page; otherwise, your calculator entries will be lost.
                </p>
              </div>
              <div class="">
                <p >
                  <span style="color:blue">Note:</span> For questions, comments, suggestions, or to report issues on functionality, please send an email to <strong><a href="mailto:calculator@ontariowater.ca">calculator@ontariowater.ca</a></strong>
                </p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" (click)="overviewModal.hide()">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div bsModal  #BasisModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-success modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Calculator-Basis</h4>
              <button type="button" class="close" (click)="BasisModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="">
                <p><strong>Calculator-Basis</strong></p>
              </div>
              <div>
                <p class="overviewTitle">Basis of Calculations in this calculator:</p>
              </div>
              <div class="">
                <ul>
                  <li>CO<sub>2</sub> equivalence for electricity (Ontario) due to Nuclear Power, g CO<sub>2</sub>e/kWh  = 40</li>
                  <li>COD/TOC Ratio, g-O<sub>2</sub>/g-C  = 3.33</li>
                  <li>COD/TOC Ratio, g-O<sub>2</sub>/g.mole-C  = 32</li>
                  <li>N<sub>2</sub>O emitted (as % TKN removed)  = 0.34</li>
                </ul>
              </div>
              <div>
                <p class="overviewTitle">General Reference:</p>
              </div>
              <div class="">
                <p>
                  User is referred to the following reference for general methodologies.
                </p>
                <ul>
                  <li>Sen, Shurui, Quantification of Greenhouse Gas Emissions from Wastewater Treatment Plants, M. Eng Thesis, McMaster University, April 2018.</li>
                  <ul><li><a href="/assets/pdf/SSR.pdf" target="_blank">SSR GHG…..PDF</a></li></ul>
                </ul>
                <p>
                  Operating data from the following wastewater treatment plants were utilized in this calculator to provide the recommended values and range of values.  The following references were utilized in the calculator:
                </p>
                <ul>
                  <li><a href="/assets/pdf/A.pdf" target="_blank">North Toronto WWTP 2016 Annual Report</a></li>
                  <li><a href="/assets/pdf/B.pdf" target="_blank">Humber Annual Report 2016</a></li>
                  <li><a href="/assets/pdf/C.pdf" target="_blank">Highland Creek Annual Report 2016</a></li>
                  <li><a href="/assets/pdf/D.pdf" target="_blank">2015 Performance Report for Shelburne Wastewater Treatment Facility</a></li>
                  <li><a href="/assets/pdf/E.pdf" target="_blank">2016 Elmvale Wastewater Treatment Plant Annual Report</a></li>
                  <li><a href="/assets/pdf/F.pdf" target="_blank">2016 Annual Report Adelaide Wastewater Treatment Plant</a></li>
                  <li><a href="/assets/pdf/G.pdf" target="_blank">2016 Royal Oaks Wastewater Treatment Plant Annual Report</a></li>
                  <li><a href="/assets/pdf/H.pdf" target="_blank">2016 Sudbury Annual Wastewater Report</a></li>
                  <li><a href="/assets/pdf/I.pdf" target="_blank">2017 Snow Valley Highlands Wastewater Treatment Plant</a></li>
                  <li><a href="/assets/pdf/J.pdf" target="_blank">2015 Annual Wastewater Treatment System Summary Report Drumbo Wastewater Treatment Plant</a></li>
                  <li><a href="/assets/pdf/K.pdf" target="_blank">Collingwood Wastewater Treatment Plant 2015 Annual Compliance Report</a></li>
                  <li><a href="/assets/pdf/L.pdf" target="_blank">Municipality of West Elgin Rodney Wastewater Treatment Plant</a></li>
                  <li><a href="/assets/pdf/M.pdf" target="_blank">Guelph Wastewater Treatment Plant</a></li>

                </ul>
              </div>
              <div>
                <p class="overviewTitle">Biosolids Disposal – Basis of Calculation for biosolids disposal are:</p>
              </div>
              <div class="">
                <ul>
                  <li>Land Application – Beneficial use of biosolids results in 0 emission of CO<sub>2</sub>e and CH<sub>4</sub>.</li>
                  <li>Landfill without methane recovery – emitted methane from the landfill is converted to 25x CO2e per unit mass of methane and added to the rest of the carbon that is converted to CO<sub>2</sub> by natural process.</li>
                  <li>Landfill with methane recovery – all the 100% of methane is converted to CO<sub>2</sub>e [1 mole of methane to one mole of CO<sub>2</sub>] and added to the rest of the carbon that is converted to CO<sub>2</sub> by natural process.</li>
                  <li>Incineration – all the 100% of the carbon in the sludge is converted to CO<sub>2</sub>e [1 mole of carbon to 1 mole of CO<sub>2</sub>]
                    <ol type="a">
                      <li>
                        Incineration within the wastewater treatment facility will not require transportation.  User can deselect the transportation option.
                      </li>
                    </ol>
                  </li>
                  <li>Transportation of sludge is calculated independent of disposal and the user can select either transport distance or transport duration.</li>
                </ul>
              </div>
              <div>
                <p class="overviewTitle">Notes on References & Hyperlinks:</p>
              </div>
              <div class="">
                <ul>
                  <li>Available hyperlinks for references are provided in the calculator at specific unit operations/processes input cells.</li>
                  <li>Available references are provided in PDF documents </li>
                </ul>
              </div>
              <div>
                <p class="overviewTitle">Abbreviations:</p>
              </div>
              <div>
                <table class="table tableCenter">
                  <!--<thead>-->
                  <!--<tr>-->
                  <!--<th></th>-->
                  <!--<th>Date registered</th>-->

                  <!--</tr>-->
                  <!--</thead>-->
                  <tbody>
                  <tr><td>BAF</td><td>Biological Aerated Filter</td></tr>
                  <tr><td>BOD5</td><td>Biochemical Oxygen Demand</td></tr>
                  <tr><td>CH<sub>4</sub></td><td>Methane</td></tr>
                  <tr><td>CO<sub>2</sub>e</td><td>Carbon dioxide equivalent emission</td></tr>
                  <tr><td>COD</td><td>Chemical Oxygen Demand</td></tr>
                  <tr><td>MBBR</td><td>Moving Bed Biofilm Reactor</td></tr>
                  <tr><td>MF</td><td>Microfiltration</td></tr>
                  <tr><td>N<sub>2</sub>O</td><td>Nitrous Oxide</td></tr>
                  <tr><td>RAS</td><td>Return Activated Sludge</td></tr>
                  <tr><td>RBC</td><td>Rotating Biological Contactor</td></tr>
                  <tr><td>TKN</td><td>Total Kjeldhal Nitrogen</td></tr>
                  <tr><td>TOC</td><td>Total Organic Carbon</td></tr>
                  <tr><td>TSS</td><td>Total Suspended Solids</td></tr>
                  <tr><td>UF</td><td>Ultrafiltration</td></tr>
                  <tr><td>UV</td><td>Ultraviolet</td></tr>
                  <tr><td>VSS</td><td>Volatile Suspended Solids</td></tr>
                  <tr><td>WAS</td><td>Waste Activated Sludge</td></tr>
                  <tr><td>WWTP</td><td>Wastewater Treatment Plant</td></tr>
                  <tr><td><img class="icon-image" src="assets/img/brand/info-icon.png" style="width: 18px;"/></td><td>Information / Tips</td></tr>
                  <tr><td><img class="icon-image" src="assets/img/brand/suggestion-icon.png" style="width: 18px;"/></td><td>Reference for Suggested Value</td></tr>
                  <tr><td><img class="icon-image" src="assets/img/brand/range-icon.png" style="width: 18px;"/></td><td>Reference for Suggested Range of Values</td></tr>
                  </tbody></table>
              </div>
              <div class="">
                <p>
                  <span style="color:blue">Note:</span> If the hyperlinks are broken, then please inform OWC via email at <strong><a href="mailto:calculator@ontariowater.ca">calculator@ontariowater.ca</a></strong>
                </p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" (click)="BasisModal.hide()">Close</button>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
    <div class="container-fluid">


    </div><!-- /.container-fluid -->
  </main>

</div>
<app-footer>
  <span>Wastewater Treatment Plant Greenhouse Gas Emissions Calculator {{ year | date : 'yyyy' }}</span>
  <span class="ml-auto">Powered by EasyLogbook</span>
</app-footer>
