::ng-deep.navbar-brand{
  width: 184px !important;
  height: 61px !important;
}
::ng-deep.app-header{
  height: 73px !important;
}
::ng-deep.app-body {
  margin-top: 73px !important;
}
::ng-deep.form-control{
  border:1px solid black !important;
}
.overviewTitle{
  text-decoration: underline;
}
.last-line{
  width: fit-content;
  background-color: yellow;
}
.tableCenter{
  width: 62%;
  margin-left: auto;
  margin-right: auto;
}

