::ng-deep.navbar-brand{
  width: 184px !important;
  height: 61px !important;
}
::ng-deep.app-header{
  height: 73px !important;
}
::ng-deep.app-body {
  margin-top: 73px !important;
}
::ng-deep.form-control{
  border:1px solid black !important;
}

