<div class="card details-border">
  <div class="card-header">
    <div><p class="projectTitle" >Admin</p></div>
  </div>
  <div class="card-body">
    <form name="form" novalidate>
      <div class="form-group row">
        <div class="col-md-3">
          <label for="def" class="col-form-label">Select Heading</label>
        </div>
        <div class="col-md-3">
          <select id="firstKey" name="firstKey" class="form-control"  [(ngModel)]="firstItem">
            <option *ngFor="let first of firstDrop" value="{{first}}" >
              {{ first }}
            </option>
          </select>

        </div>
      </div>
      <div class="form-group row" *ngIf="firstItem">
        <div class="col-md-3">
          <label for="def" class="col-form-label">Sub select</label>
        </div>
        <div class="col-md-3">
          <select id="secondKey" name="secondKey" class="form-control"  [(ngModel)]="newSecond" (change)="secondDropData()" >
            <option *ngFor="let p of primaryData" value="{{p.title}}" >
              {{p.title}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row" *ngIf="newSecond">
        <div class="col-md-3">
          <label class="col-form-label" for="prilimary">Select Unit</label>
        </div>
        <div class="col-md-3">
          <select id="prilimary" name="prilimary" class="form-control"  [(ngModel)]="selectedItem" (change)="PopulateData()">
            <option *ngFor="let p of thirdArray" value="{{p.title}}" >{{p.title}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row" *ngIf="newSecond === 'Secondary Treatment'">
        <div class="col-md-3">
          <label class="col-form-label" for="prilimary">Select Secondary Sub Unit</label>
        </div>
        <div class="col-md-3">
          <select id="prilimary" name="prilimary" class="form-control"  [(ngModel)]="secondaryData" (change)="populateSecondarydata()">
            <option *ngFor="let p of secondaryNewData" value="{{p.title}}" >{{p.title}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row" *ngIf="selectedItem">
        <div class="col-md-3">
          <label for="def" class="col-form-label">Default Value</label>
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" id="def" name="defaults" [(ngModel)]="defaultStructure.default"/>
        </div>
      </div>
      <div class="form-group row" *ngIf="selectedItem">
        <div class="col-md-3">
          <label for="suggested" class="col-form-label">Suggested Value</label>
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" id="suggested" name="suggested"  [(ngModel)]="defaultStructure.suggested"/>
        </div>
      </div>
      <div class="form-group row" style="margin-bottom: 4%" *ngIf="selectedItem">
        <div class="col-md-3">
          <label class="col-form-label">
            Ref for Suggested  Value
          </label>
        </div>
        <div class="col-md-7" STYLE="height: 100%;">
          <quill-editor name="ref" [(ngModel)]="defaultStructure.ref"></quill-editor>
        </div>
      </div>
      <div  class="form-group row">
        <div class="col-md-3"></div>
        <div class="col-md-1" id="textboxes"></div>
      </div>
      <div class="form-group row" *ngIf="selectedItem">
        <div class="col-md-3">
          <label for="minrange" class="col-form-label">Minimum</label>
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" id="minrange" name="minrange" [(ngModel)]="defaultStructure.range.min"/>
        </div>
      </div>
      <div class="form-group row" *ngIf="selectedItem">
        <div class="col-md-3">
          <label for="maxrange" class="col-form-label">Maximum</label>
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" id="maxrange" name="maxrange"  [(ngModel)]="defaultStructure.range.max"/>
        </div>
      </div>
      <div class="form-group row" style="margin-bottom: 4%" *ngIf="selectedItem">
        <div class="col-md-3">
          <label class="col-form-label">Ref for Range Value</label>
        </div>
        <div class="col-md-7" style="height: 100%">
          <quill-editor name="rangeref" [(ngModel)]="defaultStructure.range.ref"></quill-editor>
        </div>
      </div>
      <div class="form-group row" *ngIf="selectedItem">
        <div class="col-md-3">
          <label class="col-form-label">
            Info/Tips
          </label>
        </div>
        <div class="col-md-7" STYLE="height: 100%;">
          <quill-editor name="info" [(ngModel)]="defaultStructure.info"></quill-editor>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-10 col-lg-2" *ngIf="selectedItem">
          <button type="button" class="btn btn-block btn-success" (click)=SaveData()>Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="animated fadeIn">
  <div bsModal  #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Success</h4>
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true" (click)="successModal.hide()">&times;</span>
          </button>
        </div>
        <div class="modal-body new-project-modal">
          <p>Saved Sucessfully</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success yes-button" (click)="successModal.hide()">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

